*~
.vagrant/*
shared-files/_*
shared-files/testmaster/buildcurl
shared-files/testmaster/sessions
shared-files/testmaster/runtests
shared-files/testmaster/twistd.*
shared-files/testmaster/events_localhost
shared-files/testmaster/git*
shared-files/testmaster/master.cfg.sample
shared-files/artifacts/*
shared-files/*slave*
shared-files/katana

*.orig
*.pyc
.project
.pydevproject
.idea
.cache
*.egg-info
.settings
*.log
*#